.container-fluid {
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
    background-size: cover;
    color:black;
  }
  
  .reg-form-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 80px;
  }
  
  td{
    color:white;
  }
  